In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv("/content/Bengaluru_House_Data.csv")

In [ ]:
data.shape

In [ ]:
data.info()

In [ ]:
data=data.drop(['availability','area_type','society','balcony'],axis=1)

In [ ]:
data

In [ ]:
#data handling
data.isnull().sum()

In [ ]:
#Categorical values(object to int)

from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

object_list = list(data.select_dtypes(include=['object']).columns)
for i in object_list:
    data[i] = le.fit_transform(data[i])

In [ ]:
data.isnull().sum()

In [ ]:
#Outliers
Q1 = data.quantile(0.25)
Q3 = data.quantile(0.75)
IQR = Q3 - Q1  # Interquartile range

    # Define outlier bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

    # Filter the DataFrame to remove outliers
data = data[~((data < lower_bound) | (data > upper_bound)).any(axis=1)]

In [ ]:
data.isnull().sum()

In [ ]:
#outlier
import matplotlib.pyplot as plt
data.plot(kind='box', subplots=True,
    sharey=False,
    figsize=(30, 6)
)

# increase spacing between subplots
plt.subplots_adjust(wspace=0.1)
plt.show()

In [ ]:
data.shape

In [ ]:
#dataset split
x=data.iloc[:,1:4]
y=data.iloc[:,4]
print(x)
print(y)

In [ ]:
#dataset split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [ ]:
#Model building
from sklearn import tree
from sklearn.tree import DecisionTreeRegressor


model= DecisionTreeRegressor(random_state=42)
model.fit(X_train,y_train)

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
# Evaluate performance
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

# Print performance metrics
print("Performance Metrics for Decision Tree Regressor:")
print(f"Mean Absolute Error (MAE): {mae:.2f}")
print(f"Mean Squared Error (MSE): {mse:.2f}")
print(f"Root Mean Squared Error (RMSE): {rmse:.2f}")
print(f"R-squared (RÂ²): {r2:.2f}")

In [ ]:
import joblib

joblib.dump(model, 'House_Price_model.pkl')

In [ ]:
X_train.shape[1]

In [ ]:
data.head(1)

   location  size  total_sqft  bath  price
0       419    13          70   2.0  39.07

In [ ]:

# Load the pre-trained model
model = joblib.load('House_Price_model.pkl')

# Collect input dynamically
loan_list = []
for name in X_train.columns:  # Assuming you have the correct feature names in X_train
    value = input(f"Enter {name}: ")
    loan_list.append(float(value))  # Convert input to float if they are numerical features

# Reshape the input to 2D (required format for prediction)
loan_array = [loan_list]  # Wrapping it in another list to create 2D array-like structure

# Predict
pred = model.predict(loan_array)
print(f"Prediction: {pred}")

Enter location: 419
Enter size: 13
Enter total_sqft: 70
Enter bath: 2.0
Prediction: [62.]

/usr/local/lib/python3.10/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeRegressor was fitted with feature names
  warnings.warn(